.pakollinen {
	color: red;
}

input {
	width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
	font-size: inherit;
}
input:focus {
    border: 2px solid #555;
}

legend {
	padding: 20px;
}

.virheellinenkentta {
	background-color: #FFE4E4;
}

.virheteksti {
	border-radius: 3px;
	font-style: italic;
	color: #ff6666;
}