body, header p{
	font-family: 'Open Sans', sans-serif;
	margin:0;
}

header {
	background-color: #2f3033;
	text-align: center;
	color: white;
	line-height: 3em;
}

nav {
	position:absolute;
	top:0;
	right:0;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

nav ul li {
	display: inline;
	padding-right: 30px;
}

nav a, nav p {
	text-decoration: none;
	color: white;
}

.nav-element{display:inline;}

#sisalto {
	width: 60%;
	margin: 0 auto;
	padding-top: 30px;
}

.keskita {
	width:450px;
	margin: 0 auto;
}

.levy {
	display: inline-block;
	margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.levy img {
	width: 100%;
    height: auto;
}

.levytiedot {
	padding: 10px;
    text-align: center;
}

