h1 {
	text-align:center;
	font-family: arial;
}

.levylista {
	
	margin: 0 auto; 
	overflow:auto;
	border-spacing: 0;
}

.levy {
	height:7em;
}

.levy img {height:7em;}

.levy td {
	font-family: arial;
	font-size: 11pt;
	padding:0px 100px 0px 0px;
}

.levylista #levy:nth-child(even) {
    background-color: #eee;
}
.levylista #levy:nth-child(odd) {
    background-color: #fff;
}